<input type="text" [(ngModel)]="pricee"> {{alert}}
<div class="row">
    <div class="col" *ngFor="let p of listProduct, let i=index">
        <div *ngIf="p.price<pricee || pricee==null">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{p.image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Title : {{p.title}}</h5>

                    <h5 class="card-title">Price :{{p.price}}</h5>
                    <p class="card-text">quantitee : {{p.quantitee}}</p>

                    <p class="card-text">Like : {{p.like}}</p>
                    <button class="btn btn-primary" (click)="incrementlike(i)">like</button>

                    <button class="btn btn-primary" [disabled]="p.quantitee==0" (click)=" decrementqte(i) ">buy</button>
                    <button class="btn btn-info" [routerLink]="['/detail',p.id]">Detail</button>
                </div>
            </div>
        </div>

    </div>
</div>